<div class="container" style="display: flex; flex-wrap: wrap;">

  <!-- Doctor Information (Left Side) -->
  <div class="mr-2" style="flex: 1;">
    <ng-container *ngIf="doctor; else notFound">
      <div class="card mt-4 grow card-link" style="width: 18rem; margin-left: 1em; text-decoration: none;">
        <img src="https://medicaldialogues.in/h-upload/2021/10/21/162477-doctor-dressing-gown-stethoscope-face-vector-illustration-120556906.webp" class="card-img-top" alt="Doctor Image"/>
        <div class="card-body">
          <h5 class="card-title">{{ doctor.name }}</h5>
          <p>Qualifications: {{ doctor.qualifications }}</p>
          <p>Specialization: {{ doctor.specialization }}</p>
          <p>{{ doctor.hospital }}</p>
          <p>Fee: {{ doctor.fees }}</p>
        </div>
      </div>
    </ng-container>

    <ng-template #notFound>
      <div class="alert alert-warning" role="alert">Doctor not found!</div>
    </ng-template>

    <div class="mx-2 mt-3">
      Choose a date: <input type="date" [(ngModel)]="selectedDate" [min]="minDate"/>
    </div>
  </div>

  <!-- Slot Buttons in a Separate Container (Right Side) -->
  <div class="mt-4" style="flex: 1; flex-direction: column; align-items: flex-start;">

    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '16:00:00'}"
            (click)="handleButtonClick('16:00:00')">4:00-5:00 pm
    </button>
    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '17:00:00'}"
            (click)="handleButtonClick('17:00:00')">5:00-6:00 pm
    </button>
    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '18:00:00'}"
            (click)="handleButtonClick('18:00:00')">6:00-7:00 pm
    </button>
    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '19:00:00'}"
            (click)="handleButtonClick('19:00:00')">7:00-8:00 pm</button>
    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '20:00:00'}"
            (click)="handleButtonClick('20:00:00')">8:00-9:00 pm
    </button>
    <button type="button" class="btn btn-secondary btn-sm text-sm border border-dark"
            [ngClass]="{'btn-clicked': selectedTime === '21:00:00'}"
            (click)="handleButtonClick('21:00:00')">9:00-10:00 pm
    </button>
      
       

    <button class="btn btn-primary mt-3" (click)="createDateTimeString()" >Book Slot</button>
  </div>
</div>
